@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.font-raleway {
    font-family: "Raleway", sans-serif;
}

.hr-vertical {
    border-left: 2px dashed rgba(3, 7, 18, 0.3);
    height: 90%;
}